body.vscode-light {
  color: black;
}

body.vscode-dark {
  color: white;
}

body.vscode-high-contrast {
  color: red;
}
body {
  background-color: var(--vscode-editor-background);
}

table {
  overflow-x: auto;
  color: var(--vscode-foreground) !important;
  border-collapse: collapse;
  border-style: dashed;
  font-family: var(--vscode-editor-font-family);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px !important;
}

td,
th {
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
  min-width: 35px;
  text-overflow: ellipsis;
}

td.disabled,
th.disabled {
  width: 35px;
  min-width: 35px;
}

.jumbotron {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground) !important;
}

button {
  background-color: var(--vscode-button-foreground) !important;
}
input select {
  color: var(--vscode-foreground) !important;
  background-color: var(--vscode-editor-background) !important;
}

.nav-pagination {
  bottom: 0px;
  background-color: var(--vscode-editor-background) !important;
  color: var(--vscode-button-foreground) !important;
}
form {
  position: fixed;
  width: 100%;
  background-color: var(--vscode-editor-background) !important;
  top: 0%;
}

tr:hover {
  background-color: var(--vscode-foreground) !important;
  color: var(--vscode-editor-background) !important;
}

.div-pagination-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
