<html>
  <!-- [ELEGANCE_IMPORT] -->
  <!-- <script src="../js/jquery.slim.min.js"></script>
  <script src="../js/colResizable-1.6.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/sql-parser.js"></script>
  <script src="../js/query.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/query.css" /> -->

  <body ng-app="queryApp" ng-controller="queryController">
    <form ng-show="queryData!=undefined&&queryData.columns.length>0">
      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Where"
            ng-model="whereClause"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="SortBy"
            ng-model="orderByClause"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="SortBy"
            ng-model="orderByClause"
          />
        </div>
        <button class="btn" type="button">Apply</button>
      </div>
    </form>
    <table
      style="margin-top: 10px"
      class="table table-striped table-bordered"
      id="mainContent"
      ng-show="queryData!=undefined&&queryData.columns.length>0"
    >
      <thead>
        <th class="disabled" scope="col">#</th>
        <th ng-repeat="column in queryData.columns">{{column}}</th>
      </thead>
      <tbody>
        <tr ng-repeat="row in queryData.rows">
          <td class="disabled">{{$index+1}}</td>
          <td ng-repeat="k in queryData.columns">{{row[k]}}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="jumbotron jumbotron-fluid"
      ng-show="queryData==undefined||queryData.columns==undefined||queryData.columns.length==0"
    >
      <div class="container">
        <p class="lead">{{error}}</p>
      </div>
    </div>
  </body>
</html>
