<html>
  <!-- [ELEGANCE_IMPORT] -->
  <script src="../js/jquery.slim.min.js"></script>
  <script src="../js/colResizable-1.6.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/query.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/query.css" />

  <body ng-app="queryApp" ng-controller="queryController">
    <form
      style="padding-right: 20px"
      ng-show="queryData!=undefined&&queryData.columns.length>0"
    >
      <div
        class="form-row align-items-center"
        ng-show="queryData.options.showToolsBar"
      >
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroup">where clause</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Where</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.whereClause"
            />
          </div>
        </div>
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroup"
            >order by clause</label
          >
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Order By</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.orderByClause"
            />
          </div>
        </div>
        <div class="col-lg-2">
          <label class="sr-only" for="inlineFormInputGroup">size</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">size</div>
            </div>
            <input
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.page.size"
            />
          </div>
        </div>
        <div class="col-auto">
          <button class="btn" type="button" ng-click="apply()">Apply</button>
        </div>
      </div>
    </form>
    <table
      class="table table-bordered table-hover"
      id="mainContent"
      ng-show="queryData!=undefined&&queryData.columns.length>0"
    >
      <thead>
        <th class="disabled" scope="col">#</th>
        <th ng-repeat="column in queryData.columns">
          {{column.replace('`',"")}}
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="row in queryData.rows">
          <td class="disabled">
            {{queryData.page?(queryData.page.current)*queryData.page.size+$index+1:$index+1}}
          </td>
          <td ng-repeat="k in queryData.columns">{{row[k]}}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="jumbotron jumbotron-fluid"
      ng-show="queryData==undefined||queryData.columns==undefined||queryData.columns.length==0"
    >
      <div class="container">
        <p class="lead">{{message}}</p>
      </div>
    </div>
    <nav
      class="
        navbar
        fixed-bottom
        navbar-expand-sm
        nav-pagination
        justify-content-end
      "
    >
      <ul class="navbar-nav justify-content-end">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <div class="col-lg-3 div-pagination-container">
          <label class="sr-only" for="inlineFormInputGroup">page</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">page</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.page.current"
            />
          </div>
        </div>
        <div class="col-lg-3 div-pagination-container">
          <label class="sr-only" for="inlineFormInputGroup">total</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">total</div>
            </div>
            <input
              disabled
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.page.total"
            />
          </div>
        </div>
        <div class="col-lg-3 div-pagination-container">
          <label class="sr-only" for="inlineFormInputGroup">size</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">size</div>
            </div>
            <input
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.page.size"
            />
          </div>
        </div>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
