<html>
  <!-- [ELEGANCE_IMPORT] -->
  <!-- <script src="../js/jquery.slim.min.js"></script>
  <script src="../js/colResizable-1.6.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/query.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/query.css" /> -->

  <body ng-app="queryApp" ng-controller="queryController">
    <form ng-show="queryData!=undefined&&queryData.columns.length>0">
      <div class="form-row align-items-center">
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroup">where clause</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Where</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.whereClause"
            />
          </div>
        </div>
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroup"
            >order by clause</label
          >
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Order By</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.orderByClause"
            />
          </div>
        </div>
        <div class="col-lg-2">
          <label class="sr-only" for="inlineFormInputGroup">limit</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Limit</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              ng-model="queryData.limitValue"
            />
          </div>
        </div>
        <div class="col-auto">
          <button class="btn" type="button" ng-click="apply()">Apply</button>
        </div>
      </div>
    </form>
    <table
      style="margin-top: 10px"
      class="table table-striped table-bordered"
      id="mainContent"
      ng-show="queryData!=undefined&&queryData.columns.length>0"
    >
      <thead>
        <th class="disabled" scope="col">#</th>
        <th ng-repeat="column in queryData.columns">{{column.replace('`',"")}}</th>
      </thead>
      <tbody>
        <tr ng-repeat="row in queryData.rows">
          <td class="disabled">{{$index+1}}</td>
          <td ng-repeat="k in queryData.columns">{{row[k]}}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="jumbotron jumbotron-fluid"
      ng-show="queryData==undefined||queryData.columns==undefined||queryData.columns.length==0"
    >
      <div class="container">
        <p class="lead">{{message}}</p>
      </div>
    </div>
  </body>
</html>
